html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
} 

body {
    font-family: 'Gamja Flower', cursive;
    margin: 0
}

header h1 {
    font-family: 'Chelsea Market', cursive;
    padding-top: 20px;
}

header{
    background-color: #e4572e;
    text-align: center;
    margin: 0;
}

header h2 {
    color: white
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#click{
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 0 0 #e4572e;
}

main {
    background-color: #fffff2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    border: 4px solid #050401;
    width: 700px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 0 0 #e4572e;
    padding: 2px;
}

article p img{
    float: right;
    margin-left: 5px;
}

.first-article{
    margin-bottom: 10px;
}

article h2, article p{
    margin: 0;
}

footer{
  text-align: center;
}

footer h2, footer p{
    margin: 5px;
}

footer form p{
    display: inline-block; 
    box-shadow: 3px 3px 0 0 #e4572e;
}